table {
    /* Makes cells share borders */
    border-collapse: collapse;
}

/*  styles for cells */
td, th {
    width: 100px;
    height: 25px;
    border: 1px solid #333;
    padding: 4px;
    text-align: right;
}

thead {
    background-color: aqua;
}