body {
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
}

h1, h2, h3, h4, h5, h6 {

}

.header-wrapper {
  height: 140px;
  background-color: #3B5633;
  color: #ffffff;
  display: flex;
}

.left-column {
  display: flex;
  align-items: center;
}

.header-styles {
 font-family: 'Ubuntu Condensed', sans-serif;
}

.center-column {
  width: 500px;
}

.logo {

}

.logo img {

}

.link-wrapper {

}

.nav-link {

}

.nav-link:hover {

}

.right-column {

}

.icon {

}

.icon-mr {

}

.icon-ml {

}

.main-section {

}

.top-heading {

}

.bottom-heading {

}

.features-section {

}

.columns-wrapper {

}

.column {

}

.column:hover {

}

.column-icon {

}

.column-title {

}

.column-title:hover {

}

.column-content {

}